<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link rel="stylesheet" href="/style.css">
   </head>

   <body>
      <div class="container">
         <h1>Image Search Abstraction Layer</h1>
     
        <p>
          Search images:<br>
<code>https://image-search-sloba.glitch.me/api/imagesearch/lolcats funny?offset=10</code><br>
Browse recent search queries:<br>
<code> https://image-search-sloba.glitch.me/api/latest/imagesearch/</code>
        </p>
      </div>
   </body>

</html>